* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 1rem;
}


h2 {
    color: #7d97ad;
    font-size: 2em;
    text-align: left;
    padding-left: 15px;
}

.logo {
    height: 80px;
    float: left;
}

.header {
    padding: 10px;
    width: 100%;
    text-align: right;
    font-size: 1em;
    border-bottom: 5px solid #7d97ad;
}

.name {
    font-size: 3em;
    font-weight:normal;
    text-transform: uppercase;
    margin: 0;
}

.main {
    flex: 100%;
    background-color: white;
    padding: 20px;
    justify-content: center;
}

.links {
  flex: 33%;
  flex-flow: row wrap;
  background-color: white;
  padding: 20px;
}

.responsive-image {
  max-width: 100%;
}

.featured{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 95%;
  justify-content: center;
  padding-bottom: 10px;
  margin: auto;
}

footer{
    padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 700px) and (max-width: 925px) {
    .item {
        font-size: .75em;
    }

    h3 {
        font-size: 1em;
    }
}

@media screen and (min-width: 700px) {
    .item{
        width: 32%;
    }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
